@tailwind base;
@tailwind components;
@tailwind utilities;

/* scroll snapping */
html {
  scroll-behavior: smooth !important;
  scroll-snap-type: y proximity;
}

/* TODO: need min height or not */
section {
  scroll-snap-align: start;
}

.avatar-bg {
  background-image: url("../public/avatar-bg.webp");
}
