@tailwind base;
@tailwind components;
@tailwind utilities;

/* scroll snapping */
html {
  scroll-behavior: smooth !important;
  scroll-snap-type: y mandatory;
}

section {
  min-height: 100vh;
  scroll-snap-align: start;
}

.hero-bg {
  background-image: url("../public/avatar-bg.png");
}
