@tailwind base;
@tailwind components;
@tailwind utilities;

/* scroll snapping */
html {
  scroll-behavior: smooth !important;
  scroll-snap-type: y proximity;
}
section {
  /* min-height: 100vh; */
  padding-top: 80px;
  scroll-snap-align: start;
  scroll-margin-top: 20px;
}

/* @font-face {
  font-family: "burtons";
  src: url("../public/Burtons.otf"); // TODO: remove file also or find the issue 
} */
